.stars_container{
    display:flex;
    justify-content: space-between;
    width:160px;
    margin-top:20px;
}
@media (max-width:767px){
    .stars_container img{
        width:13px;
        height:13px;
    }
    .stars_container{
        width:100px;
    }
}