.logements_container{
    max-width: 1500px;
}

.equipment_container p{
   margin:3px;
}

.collapse_container{
    display:flex;
    justify-content: space-between;

}

.collapse_equipment{
    flex:1;
}

.collapse_description{
    flex:1;
}