.logements_container{
    max-width: 1500px;
    margin:0 auto;
}
.accomodation_title{
    font-family: montserrat;
    color:rgba(255, 96, 96, 1);
    font-weight: 500;
    font-size:30px;
    margin-top:0px;
 }
 .accomodation_details{
    display :flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top:30px;

 }
 .host{
    display:flex;
    align-items: center;
 }
 .host_picture{
    border-radius:50px;
    height:64px;
    width:64px;
    margin-left:10px;
 }
 .host_name{
    font-family: montserrat;
    color:rgba(255, 96, 96, 1);
    font-weight: 500;
    font-size:18px;
 }
 .accomodation_location{
    font-family: montserrat;
    color:rgba(255, 96, 96, 1);
    font-weight: 500;
    font-size:18px;
    margin-bottom:15px;
 }
.equipment_container p{
   margin:3px;
}

.collapse_container{
    display:flex;
    justify-content: space-between;
    gap:90px;
}

.collapse_equipment{
    width:90%;
    box-sizing: border-box;
}

.collapse_description{
    width:90%;
    box-sizing: border-box;
}