.a_propos_container{
    max-width: 1500px;
    margin:0 auto;
    margin-bottom:130px;
}
.collapses_container{
    width:80%;
    margin: auto;
}
.banniere{
    height:225px;
    background-image: url('../../assets/images/montagne.jpg');
    background-size:cover;
    background-position:center;
    border-radius: 25px;
    margin:50px;
}

p{
    margin-top:0px;
    margin-bottom:0px;
}

@media (max-width:650px) {
    .banniere{
        margin:20px;
    }
    
}    
    