.home_container{
    max-width: 1500px;
    margin:0 auto;
}


.banniere{
    height:225px;
    background-image: url('../../assets/images/mer.jpg');
    background-size:cover;
    background-position:center;
    border-radius: 25px;
    margin:50px;
}


.banniere_cover{
    display:flex;
    justify-content: center;
    height:100%;
    align-items:center;
    font-size:1.5rem;
    color: rgba(255,255,255,1);
    font-weight:500;
    background-color:rgba(0,0,0,0.3);
    border-radius:25px;
}


.accomodation_items{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-left:0px;
    background-color: #F6F6F6;
    border-radius:25px;
    gap:40px; 
    padding:30px 30px 30px 30px; 
}



.accomodation_container{
    margin:50px;
}

 li{
    list-style: none;
    width:30%;
    min-width:300px;
 }

 @media (min-width : 845px) and ( max-width: 1200px){
    li{
        width:45%;
     }
 }

 @media (min-width : 651px) and ( max-width: 844px){
    li{
        width:40%;
        min-width:200px;
     }
     .banniere{
        margin:20px;
        height:111px;
        border-radius:10px;
    }

    .banniere_cover{
        border-radius:10px;
    }

    .banniere_cover h1{
        margin-left: 20px;
    }
 }


 @media (max-width :650px) {
    li{
       min-width:100%;
        
     }
     .accomodation_container{
        margin:20px;
    }
    .accomodation_items{
        gap:20px; 
        padding:0px;
        background-color: #ffffff;
    }
    .banniere{
        margin:20px;
        height:111px;
        border-radius:10px;
    }

    .banniere_cover{
        border-radius:10px;
    }
    .banniere_cover h1{
        margin:0 20px;
    }
 }
