.home_container{
    max-width: 1500px;
    margin:0 auto;
}


.banniere{
    height:225px;
    background-image: url('../../assets/images/mer.jpg');
    background-size:cover;
    background-position:center;
    border-radius: 25px;
    margin:50px;
}


.banniere_cover{
    display:flex;
    justify-content: center;
    height:100%;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem;
    color: rgba(255,255,255,1);
    font-weight:500;
    background-color:rgba(0,0,0,0.3);
    border-radius:25px;
}


.accomodation_items{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-left:0px;
    background-color: #F6F6F6;
    border-radius:25px;
    gap:40px; 
    padding:30px 30px 30px 30px; 
}



.accomodation_container{
    margin:50px;
}
 li{
    list-style: none;
    width:30%;
    min-width:300px;
 }

