
.accomodation_container{
    margin:50px;
}

.accomodation_card{
    list-style: none;
    height:340px;
    position:relative;
    background-color:linear-gradient (rgb(255, 96, 96), rgb(168, 114, 107));
    border-radius:10px;
}

.accomodation_img:hover{
    opacity:0.9;
    scale:1.01;
    transition: 0.35s;
}
.accomodation_title{
    font-family:montserrat;
    font-size: 18px;
    font-weight: 500;
    color:rgba(255,255,255,1);
    position:absolute;
    bottom:0;
    left:10px;
}

.accomodation_img{
    width:100%;
    box-sizing:border-box;
    height:100%;
    object-fit:cover;
    border-radius:10px;
}
/*@media (min-width : 815px) and ( max-width: px){
    
 }*/

@media (min-width : 651px) and ( max-width: 815px){
    .accomodation_img{
        width:100%;
        box-sizing:border-box;
        height:100%;
        object-fit:cover;
        border-radius:10px;
    }
    .accomodation_card{
        height:255px;
    }
}
@media (max-width :650px) {
    .accomodation_card{
        height:255px;
    }
    .accomodation_container{
        margin:20px;
    }
    .accomodation_title{
        font-size: 16px;
        font-weight: 500;
        padding:5px;
    }
    

}