.accomodation_container{
    margin:50px;
}

.accomodation_card{
    list-style: none;
    height:340px;
    position:relative;
    background-color:linear-gradient (rgb(255, 96, 96), rgb(168, 114, 107));
    border-radius:10px;
    transition: all 0.5s;
}

.accomodation_title{
    font-size: 1.2rem;
    font-weight: 500;
    color:rgba(255,255,255,1);
    position:absolute;
    bottom:0;
    margin:15px 10px;
}

.accomodation_img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
}

.accomodation_img:hover{
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 15px 4px   rgb(158, 151, 151);
}


@keyframes pulse {
	0% {
		box-shadow: 0 0 15px 3px   rgb(192, 181, 181);
	}

	50% {
	
		box-shadow: 0 0 15px 4px   rgb(134, 127, 127);
	}

	100% {
		box-shadow: 0 0 15px 4px   rgb(158, 151, 151);
	}
}

@media (max-width :767px) {
    .accomodation_card{
        height:255px;
    }
    .accomodation_container{
        margin:20px;
    }
    .accomodation_title{
        font-size: 2rem;
        font-weight: 500;
        padding:5px;
    } 
}

